# Virtual environment  
.venv/  
venv/  

# Python cache files  
__pycache__/  
*.py[cod]  
*.pyo  

# Django-related files  
db.sqlite3  
*.log  

# Environment variables  
.env  
*.env
env/

# Static and media files  
staticfiles/  
media/  