{% extends 'base.html' %}

{% block title %}
  Patron Dashboard
{% endblock title %}

{% block content %}
<div class="mx-auto my-5" style="width: 200px;">
    <div class="profile-pic">
        {% if profile.profile_picture %}
            <img src="{{ profile.profile_picture.url }}" alt="Profile Picture" class="img-fluid" width="200">
        {% else %}
            <!-- Default SVG icon -->
            <svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
            </svg>
        {% endif %}
        <div class="text-center">
            <label for="profile_picture">Upload Profile Picture</label>:
            <input id="profile-image-upload" class="hidden" type="file" onchange="previewFile()" >
        </div>
    </div>
</div>

<h1 class="text-center mb-4">Explore Our Collections</h1>

<div class="row">
    <!-- Textbooks Collection -->
    <div class="col-md-4">
        <div class="card h-100">
            <img src="https://via.placeholder.com/400x250?text=Textbooks" class="card-img-top" alt="Textbooks">
            <div class="card-body">
                <h5 class="card-title">Textbooks</h5>
                <p class="card-text">Browse through a wide range of textbooks available for rent, covering all subjects and majors.</p>
                <a href="{% url 'textbooks' %}" class="btn btn-primary">View Textbooks</a>
            </div>
        </div>
    </div>

    <!-- Calculators Collection -->
    <div class="col-md-4">
        <div class="card h-100">
            <img src="https://via.placeholder.com/400x250?text=Calculators" class="card-img-top" alt="Calculators">
            <div class="card-body">
                <h5 class="card-title">Calculators</h5>
                <p class="card-text">Need a calculator for your exams or projects? Check out our collection of scientific and graphing calculators.</p>
                <a href="{% url 'calculators' %}" class="btn btn-primary">View Calculators</a>
            </div>
        </div>
    </div>

    <!-- Chargers Collection -->
    <div class="col-md-4">
        <div class="card h-100">
            <img src="https://via.placeholder.com/400x250?text=Lab+Coats" class="card-img-top" alt="Chargers">
            <div class="card-body">
                <h5 class="card-title">Chargers</h5>
                <p class="card-text">Find any charger from phone chargers to laptop chargers.</p>
                <a href="{% url 'chargers' %}" class="btn btn-primary">View Lab Coats</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
