{% extends 'base.html' %}
{% load static %}

{% block title %}Profile{% endblock title %}

{% block content %}
<div class="container">
    <h1 class="text-center mt-4">My Profile</h1>
    <div class="mx-auto my-5" style="width: 200px;">
        <div class="profile-pic">
            {% if profile.profile_picture %}
                <img id="profile-preview" src="{{ profile.profile_picture.url }}" alt="Profile Picture" class="img-fluid" width="200">
            {% else %}
                <svg id="profile-preview" xmlns="http://www.w3.org/2000/svg" width="200" height="200" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                </svg>
            {% endif %}

            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="text-center">
                    <label for="profile-image-upload">Upload Profile Picture</label>:
                    <input id="profile-image-upload" type="file" name="profile_picture" accept="image/png, image/jpeg, image/gif" onchange="previewFile()">
                    <button type="submit" class="btn btn-primary mt-2">Save</button>
                </div>
            </form>
        </div>
    </div>
    <!-- Back to Home Button -->
    <div class="text-center mt-4">
        <a href="{% url 'dashboard' %}" class="btn btn-secondary">Back to Home</a>
    </div>
</div>


{% endblock content %}